body{
  background: url("https://i.postimg.cc/Fz3L5wd3/IMG-20260118-WA0004.jpg")no-repeat  center center/cover;
  min-height: 100vh;
}
nav {
  background: black;
  text-align: center;
}

nav a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background: orange;
}

section {
  padding: 20px;
  text-align: center;
}
h3{
  text-align: center;
  color: orangered;
  font-size: 60px;
  font-weight: bold;
}
p{
  color: blue; 
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  letter-spacing: 2px;
}
h1{
  color: green;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
 a{
  background: orangered;
  color: white;
  padding: 20px 80px;
  border-radius: 999px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}