body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;  
  align-items: center; 
  background: darkorange;

}

div {
  text-align: center;
  padding: 10px;
}

div a {
  color: white;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}

div a:hover {
  background: orangered;
  border-radius: 999px;
  padding: 10px 15px;
  border: 5px solid red;
}


button {
  padding: 20px 30px;
  font-weight: bold;
  background: green;
  color: white;
  border: 5px solid darkgreen;
  font-size: 40px;
  border-radius: 999px;
}

button:hover{
  background: orange;
  border: none;
}

button:focus{
  background: green;
  border: 5px solid darkgreen;
}

#main{
  background: url("https://i.postimg.cc/26RSDxbL/IMG-20260118-074721-185.jpg") no-repeat center center/cover;
  min-height: 100vh;
  
}

footer {
  background: green;
  color: white;
  text-align: center;
  padding: 2px;
}

/* TEXT */
h1 {
  font-size: 80px;
  font-weight: bold;
  color: orange;
} 

p{
  font-size: 60px;
  font-family: cursive, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 70px;
  color: greenyellow;
  font-weight: bold;
}

a + a{
  margin-left: 50px;
}

h3{
  font-size: 35px;
}
#welcome-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(3, 3, 243);
  z-index: 9999;
  animation: fadeOut 1s ease forwards;
  animation-delay: 2s;

}
#welcome-page h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
