body {
  font-family: Arial, sans-serif;
  background: url("https://i.postimg.cc/Njprc6M3/IMG-20260118-WA0003.jpg")no-repeat center center/cover;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display : flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  background: #000080;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.home {
  margin-top: 60px;
}

h1 {
  color: orangered;
  font-size: 80px;
}
p{
  font-size: 55px;
  color: blue;
  font-family: cursive;
  font-weight: bold;
  letter-spacing: 2px;
}
a{
  font-size: 40px;
  color: white;
  text-decoration: none;
  background: green;
  padding: 20px 30px;
  border-radius: 999px;
  border: 2px solid darkgreen;
}
